@theme {
  /* Reset default TW colors. */
  --color-\*: initial;

  --color-unset: unset;
  --color-initial: initial;
  --color-inherit: inherit;
  --color-current: currentColor;
  --color-transparent: transparent;

  --color-black: #000;
  --color-white: #fff;
}
